body {
    font-family: Arial, sans-serif;
}

.orden {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    position: relative;
}

.titulo {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.fecha .seccion-1 {
    margin-bottom: 10px;
    text-align: left;
    font-style: italic;
}

.seccion-2 {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: right;
    float: right;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.col-sm-6 {
    width: 50%;
    float: left;
    box-sizing: border-box;
}

.info {
    float: left;
    box-sizing: border-box;
}

img {
    max-width: 100px;
    float: right;
    border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 10px;
}

.seccion {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: right;
}

.etiqueta {
    font-weight: bold;
}

.tabla {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.tabla th,
.tabla td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.total {
    margin-top: 20px;
    text-align: right;
    font-size: 18px;
}

.firma {
    margin-top: 20px;
    text-align: center;
}

.contenedor-zindex .rol-select{
    z-index: 1001;
}

.btn-group-rol {
    max-height: 200px; /* Altura máxima del contenedor */
    overflow-y: auto; /* Agregar scroll vertical cuando sea necesario */
}